html {
    font-size: 16px;
    line-height: 21px;
}

body,
p {
    font-family: ‘Open Sans’, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

h1, .h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.26666667em;
    line-height: 1.3125em;
    font-weight: 700;
}

h2, .h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.6em;
    line-height: 1.07692308em;
    font-weight: 700;
}

h3, .h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    line-height: 1.75em;
}

h4, .h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

h5, .h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    line-height: 1.4em;
}